
@font-face { src: url("../assets/CherryCreamSoda-Regular.ttf"); font-family: cherry; }

html, body { margin: 0; padding: 0; font-family: cherry;}

/*--- Main Section ---*/

#mainSection {
	padding-top: 2rem;
	background-color: Wheat;
}

#mainColumn {
	margin: 0 2rem 0 2rem;
}

#headingText {
	font-size: 2.8rem;
	text-align: center;
}

#textPackage {
	margin: 2rem 0 2rem 0;
	font-size: 1.2rem;
	text-align: justify;	
}

#myPortrait {
	width: 14.4rem;
	height: auto;
	border: 0.8rem solid SaddleBrown;
	float: left;
	margin: 1rem 2rem 0.2rem 1rem;
}

#cableSpot {
	margin: 0 0 2rem 0;	
	font-size: 1.2rem;
}

.spot {
	color: saddlebrown;
}

.spot:hover {
	color: Blue;
}

/*--- Going Home Section ---*/

#linkSection {
	clear: left;
	padding: 2rem 2rem 4rem 2rem;
	background-color: saddlebrown;
	font-size: 1.2rem;
	color: white;
}

.link {
	color: wheat;	
}

.link:hover {
	color: Blue;
}

@media screen and (max-width: 500px) {
	#myPortrait {
		float: none;
		margin:  auto;
		display: block;
	}
}