
@font-face { src: url("../assets/brookes.ttf"); font-family: brookes; }

html, body { margin: 0; padding: 0; font-family: brookes; font-weight: 600;}

.flexRow {
	display: flex;
	flex-direction:  row;
	flex-wrap: wrap;
	justify-content: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
/*	align-items: center;*/	
}

/*--- Main Section ---*/

#mainSection {
	padding-top: 2rem;
	background-color: Wheat;
}

#myImage {
	width: 20rem;
	height: 36rem;
}

#sideColumn {
	margin: 2rem 2rem 2rem 2rem;
}

#headingText {
	font-size: 3rem;
	text-align: center;
}

#followText {
	margin: 2rem 0 3rem 0;
	font-size: 2rem;
	text-align: center;
}

.playedColumn {
	margin: 0 1rem;
	width: 12.6rem;
	height: auto;

}

.playedText {
	font-size: 1.6rem;
	text-align: center;	
}

.playedImage {
	margin: 1rem 1rem;
	width: 10rem;
	height: 13rem;
	border-radius: 1rem;
	border: 0.3rem solid SaddleBrown;
}

/*--- Link Section ---*/

#linkSection {
	margin: 2rem 4rem 2rem 4rem;
	font-size: 1.6rem;
}

#whatIplay {
	font-size: 2rem;
	text-align: center;
}

#topText {
	margin-top: 2rem;
}

#middleText {
	margin: 2rem 0 0 3rem;
}

#bottomText {
	margin: 2rem 0 0 6rem;
}

.link {
	color: saddlebrown;	
}

.link:hover {
	color: Blue;
}

/*--- Contact Section ---*/

#contactSection {
	background-color: saddlebrown;
}

#contactBox {
	padding: 2rem 4rem 2rem 4rem;
	font-size: 1.6rem;
	color: white;
	letter-spacing: 0.1rem;		
}

#middleContact {
	margin: 1rem 0 1rem 0;
}