
	<div class="mainSection">
		<div class="mainColumn">
			<div id="headingSpace" class="headingText">Here's what I have been up to.</div>

			<div class="flexRow">

				<div class="aCard aCardTwoPicOneVideo">
					<div class="frontBack">
						<div class="cardFront cardFrontTwoPicOneVideo">
							<img class="logoCharlotteShout" src="./locations/charlotteShout/shoutLogo.jpg" alt="Shout Logo">
							<div class="frontText frontTextCharlotteShout">Playing on the Street Uptown</div>
						</div>
						<div class="cardBack">
							<img class="photoCompress" src="./locations/charlotteShout/shoutWalkers.jpg" alt="Shout with street walkers">
							<img class="photoCompress" src="./locations/charlotteShout/shoutCase.jpg" alt="Shout with guitar case">
							<video controls poster="./locations/charlotteShout/shoutPoster.jpg">
								<source src="./locations/charlotteShout/charlotteShout.mp4" type="video/mp4">
								Your browser does not support mp4 videos.
							</video>
						</div>
					</div>
				</div>

				<div class="aCard aCardTwoPicOneVideo">
					<div class="frontBack">
						<div class="cardFront cardFrontTwoPicOneVideo">
							<img class="logoOldeTowne" src="./locations/oldeTowne/oldeTowneLogo.jpg" alt="Olde Towne Logo">
							<div class="frontText frontTextOldeTowne">Olde Towne Village Shopping</div>
						</div>
						<div class="cardBack">
							<img class="photoCompress" src="./locations/oldeTowne/oldeTowneCloseUp.jpg" alt="Olde Towne Close-up">
							<img class="photoCompress" src="./locations/oldeTowne/oldeTowneMedia.jpg" alt="Olde Towne Media">
							<video controls poster="./locations/oldeTowne/oldeTownePoster.jpg">
								<source src="./locations/oldeTowne/oldeTowne.mp4" type="video/mp4">
								Your browser does not support mp4 videos.
							</video>
						</div>
					</div>
				</div>

				<div class="aCard aCardOneVideo">
					<div class="frontBack">
						<div class="cardFront cardFrontOneVideo">
							<img class="imgDarkHollow" src="./locations/darkHollow/darkHollow.jpg" alt="Dark Hollow Cover">
							<div class="frontText frontTextDarkHollow">On the Porch</div>
						</div>
						<div class="cardBack">
							<video controls  poster="./locations/darkHollow/darkHollowPoster.jpg">
								<source src="./locations/darkHollow/darkHollow.mp4" type="video/mp4">
								Your browser does not support mp4 videos.
							</video>
						</div>
					</div>
				</div>

				<div class="aCard aCardTwoPicOneVideo">
					<div class="frontBack">
						<div class="cardFront cardFrontTwoPicOneVideo">
							<img class="logoHendersonCountyFM" src="./locations/hendersonCountyFM/hendersonCountyFMLogo.jpg" alt="Henderson County Farmers Market Logo">
							<div class="frontText frontTextHendersonCountyFM">Henderson County Farmers Market</div>
						</div>
						<div class="cardBack">
							<img class="photoCompress" src="./locations/hendersonCountyFM/hendersonCountyFMLone.jpg" alt="Henderson County Farmers Market Lone Shot">
							<img class="photoCompress" src="./locations/hendersonCountyFM/hendersonCountyFMcooler.jpg" alt="Henderson County Farmers Market on Cooler">							
							<video controls poster="./locations/hendersonCountyFM/hendersonCountyFMPoster.jpg">
								<source src="./locations/hendersonCountyFM/hendersonCountyFM.mp4" type="video/mp4">
								Your browser does not support mp4 videos.
							</video>
						</div>
					</div>
				</div>

				<div class="aCard aCardTwoPicOneVideo">
					<div class="frontBack">
						<div class="cardFront cardFrontTwoPicOneVideo">
							<img class="logoBirkdale" src="./locations/birkdale/birkdaleLogo.jpg" alt="Birkdale Logo">
							<div class="frontText frontTextBirkdale">Up at the Lake</div>
						</div>
						<div class="cardBack">
							<img class="photoCompress" src="./locations/birkdale/birkdaleLook.jpg" alt="Birkdale Look">
							<img class="photoCompress" src="./locations/birkdale/birkdaleLookUp.jpg" alt="Birkdale LookUp">
							<video controls poster="./locations/birkdale/birkdalePoster.jpg">
								<source src="./locations/birkdale/birkdale.mp4" type="video/mp4">
								Your browser does not support mp4 videos.
							</video>
						</div>
					</div>
				</div>

				<div class="aCard aCardOneVideo">
					<div class="frontBack">
						<div class="cardFront cardFrontOneVideo">
							<img class="imgBlueXmas" src="./locations/blueChristmas/blueXmas.jpg" alt="Blue Christmas Cover">
							<div class="frontText frontTextBlueXmas">No, not Elvis</div>
						</div>
						<div class="cardBack">
							<video controls poster="./locations/blueChristmas/blueXmasPoster.jpg">
								<source src="./locations/blueChristmas/blueXmas.mp4" type="video/mp4">
								Your browser does not support mp4 videos.
							</video>
						</div>
					</div>
				</div>

				<div class="aCard aCardTwoPic">
					<div class="frontBack">
						<div class="cardFront cardFrontTwoPic">
							<img class="imgDowntown" src="./locations/downtown/charlotte.jpg" alt="Downtown Charlotte">
							<div class="frontText frontTextDowntown">Downtown</div>
						</div>
						<div class="cardBack">
							<img class="photoCompress" src="./locations/downtown/sideShot.jpg" alt="Shot from my side">
							<img class="photoNormal" src="./locations/downtown/frontShot.jpg" alt="Shot from my front">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="linkSection">
		<div id="home">Let's go back <a class="link" href="/">home</a> Toto!</div>
	</div>
