
#textPackage {
	margin: 2rem 0 2rem 0;
	font-size: 1.2rem;
	text-align: justify;	
}

#myPortrait {
	width: 14.4rem;
	height: auto;
	border: 0.8rem solid SaddleBrown;
	float: left;
	margin: 1rem 2rem 0.2rem 1rem;
}

#cableSpot {
	clear: both;
	font-size: 1.2rem;
}

.spot {
	color: saddlebrown;
}

.spot:hover {
	color: Blue;
}


@media screen and (max-width: 500px) {
	#myPortrait {
		float: none;
		margin:  auto;
		display: block;
	}
}