
.flexRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#followText {
	margin: 1rem 0 2rem 0;
	font-size: 1.6rem;
	text-align: center;
}

#songBox {
	width: 20rem;
	height: auto;
	font-size: 1.2rem;	
}

.author {
	margin: 0 0 0.6rem 2rem;
}